<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title vHimself

        link(rel="stylesheet", href="dist/css/normalize.css")
        link(rel="stylesheet", href="dist/css/main.css")
        link(rel="stylesheet", href="https://unpkg.com/kursor/dist/kursor.css")
        
    body


        .hovers

        // cookies notification
        include includes/_notification.pug
        
        // navigation
        include includes/_navigation.pug

        // intro
        include includes/_intro.pug
        
        // About me section
        include includes/_introduceMyself.pug

        // skills section
        include includes/_skills.pug

        // Works section
        include includes/_works.pug

        // Contact section
        include includes/_contact.pug

        script(src="https://cdn.jsdelivr.net/npm/kursor@0.0.14/dist/kursor.js")
        script(src="dist/nymph.js")
        