.contact
    .form
        .hline
            .hline__text Get in Touch
            .hline__line
        
        .contacts
            a(href="mailto:vladyslav.lutchyn@gmail.com" target="_blank")
                .contacts__text vladyslav.lutchyn@gmail.com
            a(href="https://t.me/vladyslavhimself" target="_blank")
                .contacts__text Telegram
            a(href="https://github.com/VladyslavHimself" target="_blank")
                .contacts__text Github
        
        .footing.lighter
            a(href="#")#toNav Navigation