.introduceMyself
            .heading
                h1 Introduce myself

            .introduceMyself__container
                .content
                    .content__header
                        h3 Hello, I’m Vlad, frontend developer.

                    .content__description
                        p I’ve just finished my studies in Ukraine & moved to US. <br>I have started learning CS, since back in school & keep studying all the time.<br> I’m keen on bringing to life great ideas, working together with great people & learning new things.

                    a(href="#")#toSkillsBtn
                        .button
                            p Show skills

                .photo
                    img(src="dist/assets/pfolio.jpg", alt="", srcset="")
                    .filter
                        .filter__block
                        .filter__block
                        .filter__block
                    

            .footing
                a(href="#")#toNav Navigation