.notification
    .notification__data  We <span id="uline">skip intro</span> to avoid annoying you!

    .notification__group
        .abstractButton Okay
        //- .abstractDecline Decline
        