.skills
            .information
                .information__title
                    .information__heading Introduce skills
                    .information__description I have an experience in the following areas,<br> but I focused on the front-end:
                .carousel
                    .carousel__inner 
                        .carousel__item UX/UI Designer
                        .carousel__item.current Front-end Dev
                        .carousel__item Back-end Dev

                a(href="#")#toWorks
                    .button
                        p Projects
                .footing
                    a(href="#")#toNav Navigation

                .slideDown
                    img(src="dist/assets/down.svg", alt="", srcset="")
                
            .experience
                .experience__wrap
                    .experience__title
                        .experience__text Skills
                    .experience__box
                        .bar
                            .bar__text JavaScript
                            .progress
                                .progress__data(style="width: 90%").animated Good
                        .bar
                            .bar__text React/Redux
                            .progress
                                .progress__data(style="width: 85%").animated Good
                        .bar
                            .bar__text Next.js
                            .progress
                                .progress__data(style="width: 75%").animated In Progress
                        .bar
                            .bar__text TypeScript
                            .progress
                                .progress__data(style="width: 92%").animated Good
                        .bar
                            .bar__text HTML/CSS (include preprocessors)
                            .progress 
                                .progress__data(style="width: 94%").animated Beautifull
                        .bar
                            .bar__text OWASP, CORS, HTTPS, CSP
                            .progress 
                                .progress__data(style="width: 80%").animated Still good