.works
    .container
        .heading Projects, that I’d like to share

        .projects
            a(href="https://www.berry-prykarpattia.com/" target="_blank")
                .card
                    .logo 
                        img(src="./dist/assets/smoothie.svg", alt="", srcset="")
                    .name Berry-Prykarpattia
                    .title
                        P Shop
                    .hint
                        P Click to open
            a(href="https://vladyslavhimself.github.io/mcValhalla/" target="_blank")
                .card
                    .logo 
                        img(src="./dist/assets/vikingHelmet.svg", alt="", srcset="")
                    .name mcValhalla
                    .title
                        P W-Site
                    .hint
                        P Click to open

            a(href="#" target="_blank")
                .card
                    .logo 
                        img(src="./dist/assets/mm-logo.svg", alt="", srcset="")
                    .name Metamorphosa
                    .title
                        P Startup
                    .hint
                        P Coming soon...
        a(href="#")
            .button.light#toContacts
                p Contacts
        
        .footing
            a(href="#")#toNav Navigation