@keyframes fadeout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes strelka {
    0% {

    } 50% {
        width: 70%;
        transform: translateX(300px);
    } 100% {
        width: 10%;
        transform: translateX(500px);
    }
}

@keyframes shadowInset {
    from {
        box-shadow: 0px 0px 0px 0px #000;
    } to {
        box-shadow: 20px 20px 0px 0px $complimentary;
    }
}

@keyframes shadowOutset {
    from {
        box-shadow: 0px 0px 0px 0px $complimentary;
    } to {
        box-shadow: -20px -20px 0px 0px #333;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }

    50% {
        opacity: 1;
        transform: translateY(50%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }

}

@keyframes progress {
    from {
        opacity: 0;
        width: 0;
    } to {

    }
}

@keyframes hoverEffect {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes line {
    from {
        width: 0;
        opacity: 0;
    }
}

@keyframes dropText {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
    }
}

@keyframes popup {
    from {

        opacity: 0;
        width: 400px;
    } to {
        width: 450px;
        opacity: 1;
    }
}