
@media(max-width: 1100px) {
    .introduceMyself__container {
        flex-direction: column-reverse;
        margin: 100px 0px;
    }
}

@media(max-width: 768px) {
    .bar {
        &__text {
            text-align: center;
        }
    }
}

@media(max-height: 710px) {
 
    .photo {

        img {
            width: 390px;
            height: 500px;
        }
    }

}


@media(max-width: 655px) {

    .slideDown { 
        display: initial;
    }

    .information, .experience {
        min-width: 100%;
    }
    .skills {
        position: relative;
        flex-direction: column;
    }
    .carousel {
        width: 200px !important;
    }
    .experience {
        min-height: 55vh;
    }


}
@media(max-width: 560px) {
    .photo {
        img {
            width: 333px;
            height: 443px;
        }
    }

    .content { 

        &__header {
        font-size: 14px;
        }

        &__description {
            p {
                font-size: 14px;
                margin: 20px;
            }
        }

    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }

    .content { 

        &__header {
        font-size: 12px;
        margin: 30px 0 0 0;
        
        }
    }


    // contacts

    .form {
        width: 250px;
    }

    .hline {

        width: inherit;
        &__text {
            color: #f4f4f4;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: .9rem;
            animation: dropText 2s ease;
        }
    
    }

    .contacts {
        a {
            font-size: .7rem;
        }
    }

}

@media(max-width: 500px) {

    .welcome {
        &__figure {
            width: 350px;
            height: 350px;
        }
    }

    .heading {
        font-size: 13px;
    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }

    .notification {
        display: none;
    }
}

@media(max-width: 375px) {

    .welcome {
        &__figure {
            width: 250px;
            height: 250px;
        }

        &__text {
            font-size: .6rem;
        }
    }

    .photo {
        img {
            width: 260px;
            height: 346px;
        }
    }
    .heading {
        font-size: 13px;
    }
    .content { 

        &__header {
            margin: 50px 0px 0px 0px;
        font-size: 12px;
        }

        &__description {
            p {
                font-size: 14px;
                margin: 20px;
            }
        }

    }
    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }

    // NOTE works

    .projects {
        &__item {
            margin-right: 0;
        }
    }

}

@media(max-width: 320px) {


    .heading {
        font-size: 12px;
    }
    .content { 

        &__header {
            margin: 50px 0px 0px 0px;
        font-size: 11px;
        font-weight: 800;
        }

        &__description {
            p {
                font-size: 11px;
                margin: 20px;
            }
        }

    }

    .introduceMyself {

        &__container {
            margin: 20px 0 0 0 !important;
        }
    }
}



@media(max-height: 775px) {

    .carousel {
        height: 170px;
        margin: 0 !important;
    }

    .slideDown {
        top: 94%;
    }
}

// Works



