.introduceMyself {


    transition: 2s ease;
    opacity: 0;

    position: relative;
    @include fCentered;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.heading {
    font-weight: 800;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__header {
        font-size: 1rem;
    }

    &__description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.75;
        letter-spacing: 0.005em;

        p {
            text-align: center;
        }
    }
}


.photo {
    position: relative;
    margin: 0 40px;
    box-shadow: 0px 0px 0px 0px #333;
    animation: shadowOutset 2s ease forwards;

    img {
        width: 460px;
        height: 600px;
        box-shadow: 0px 0px 0px 0px $complimentary;
        // rgba(0,0,0,0.75);
        animation: shadowInset 2s ease forwards;
    }
}


.filter {
    left: 0%;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__block {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        animation: strelka 5s ease forwards;
        opacity: .9;

        &:nth-child(2) {

            background-color: #ccc;
            animation: strelka 4s ease forwards;
        }

        &:nth-child(3) {
            background-color: #333;
            animation: strelka 3s ease forwards;
        }
    }


}