
.skills {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    .footing {
        margin: 10px 0;
        font-size: 14px;

    }
}

// information style

.information {
    background-color: #f4f4f4;
    width: 70%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

		&__title {
            text-align: center;
		}

		&__heading {
            font-weight: 800;
            font-size: 1.5rem;
            margin-bottom: 12px;
		}

		&__description {
            opacity: .7;
            font-size: 20px;
		}
        
}

.slideDown {
    display: none;

    position: absolute;
    top: 90%;
    left: 50%;
   
    transform: translate(-50%,-90%);
    img {
        width: 50px;
        height: 50px;
        animation: fadeInOut 1.5s ease-out infinite;
    }

}


.carousel {
    margin: 50px 0;
    width: 400px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

 
    &__inner {
        
        text-align: center;
        
    }

    &__item {
        margin: 5px 0;
        transition: .2s ease-out;
        cursor: pointer;

    }
}

.current {
    font-size: 24px;
    font-weight: 800;
}

.experience {
        
        width: 30%;
        background-color: #333;
        color: #f4f4f4;

        display: flex;
        justify-content: center;
        align-items: center;

		&__wrap {
            width: 400px;
		}

		&__title {
            margin-bottom: 30px;
            font-size: 28px;
            text-align: center;
		}

		&__text {
            // text-shadow: 1px 0px 25px rgba(255,255,255,.5);
		}

		&__box {
		}
}
.bar {
        padding: 0px 25px;
        margin: 20px 0;
		&__text {
            margin: 5px;
           
            
		}
        .progress {
            background-color: #444;
            border-radius: 100px;
            height: 20px;
            min-width: 100%;

            box-shadow: -3px 3px 20px 4px #222;
            


            &__data {
                
                border-radius: inherit;
                height: 100%;
                width: 50%;

                font-size: 1rem;

                background: linear-gradient(to left, #F2709C, #FF9472);

                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0px 10px;
                // animation: progress 1.5s ease-out;
            }
        }
            
}
